@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-default: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-default);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.backdrop-blur-bg {
  @apply bg-black/20 backdrop-blur-sm;
}

.clock {
  font-family: var(--font-default);
  font-size: 9.5rem;
  font-weight: 500;
  line-height: 1;
}

@media (max-width: 768px) {
  .clock {
    font-size: 7rem;
  }
}

@media (max-width: 640px) {
  .clock {
    font-size: 5rem;
  }
}
